body
{
	background-image: url("congruent_outline.png")
}

  #wrapper {
    width: 1250px;
    margin: 0 auto;
}

#links
{
clear:both;
background: white;
 width:300px;
float: right;
position: relative;
top: 100px;
left: -190px;

}


#bottom
{
clear:both;

background: white;
 width:1000px;
 margin: 0px;
border-width: 2px;   
border-color: black;
border-style: solid;
height=50px;
top: 100px;
left: 10px;
}


  #myname { 
  	clear: both;
    background-color: teal;
     width:350px;
    height:141px;
    margin:2px;
	float:left;
	position: relative;
	top: -175px;
	left:80px;
	word-wrap: break-word;
}



#intro
{
clear:both;
background: white;
 width:280px;
 height: 250px;
 float: right;
 padding: 10px 1px 10px 10px;
 margin: 0px;
border-width: 2px;   
border-color: black;
border-style: solid;
position: relative;
top: -519px;
left: -124px;
color:black;
}



#header
{
clear: both;
background: white;
 width:650px;
  height:300px;
 padding: 0px 0px 10px 5px;
 margin: 25px;
 float: left;
border-width: 2px;   
border-color: black;
border-style: solid;
position: relative;
top: -190px;
left: 10px;
}


#top
{

	clear: both;
background: white;
 width:1000px;
 padding: 60px 60px 80px 30px;
 margin: 30px;
 float: left;
border-width: 2px;   
border-color: black;
border-style: solid;
}






#contact
{
clear: both;
background: white;
 width:650px;
  height:300px;
 padding: 0px 0px 10px 5px;
 margin: 25px;
 float: left;
border-width: 2px;   
border-color: black;
border-style: solid;
position: relative;
top: -190px;
left: 10px;
}

.p{color: white;
}



.float-left {
float:left;
width:200px; // or 33% for equal width independent of parent width

}


#header1
{
clear:both;
background: white;
 width:650px;
 height:470px;
 padding: 0px 0px 0px 0px;
 margin: 25px;
 float: left;
border-width: 2px;   
border-color: black;
border-style: solid;
position: relative;
top: -190px;
left: 10px;
}

#intro1
{
	clear:both;
background: white;
 width:280px;
 height: 250px;
 float: right;
 padding: 0px 10px 10px 10px ;
 margin: -205px;
border-width: 2px;   
border-color: black;
border-style: solid;
position: relative;
top: -170px;
left: -124px;
color:black;
}